*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --soft-baige: #f1fdf0;
    --background-color :#283131;
}
html,body{
    height: 100%;
}

main, header, footer{
    background-color: var(--background-color);
    color: var(--soft-baige);
}

main {
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}

header, footer{
    display: flex;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

header{
    margin: 2px 2px;
}

footer{
    align-items: center;
    justify-content: center;
}

nav {
    margin-left: auto;
    margin-right: 1em;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration:  none;
    color: var(--soft-baige);
    font-size: 18px;
}

header ul{
    display: flex;
    list-style: none;
    gap: 1em;
    align-items: center;
}

section{
    margin-bottom: 2rem;
}

.home{
    background-image: url("../img/OCEAN2.jpg");
    background-repeat: no-repeat;
    background-origin:left top;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-paragraph {
    text-align: center;
    font-weight: 700;;
    color: #fcfffc;
    font-size: 2.5rem;
    animation: ocean-wave 3s 0.5s infinite alternate;
}

.section-header{
    text-align: center;
    font-size: x-large;
    margin-bottom: 2rem;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.card-project a {
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    color: var(--soft-baige);
}

.section-header:hover,
.card-project a:hover
{
    text-decoration-color:var(--soft-baige)
}

.about-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.my-img{
    max-width: 640px;
    max-height: 640px;
    grid-column: 1/2;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-info{
    grid-column: 2/3;
    font-size: 24px;
    justify-self: start;
    align-self:flex-start;
    margin-right: 1rem;
}
.about-info p{
    margin: 1rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 12px;
    margin: 10px;
    justify-content: space-around;
}

.card-project{
    padding: 8px;
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: transform 1s;
}



.card-project:hover,
.card-project:focus{
    transform: scale(1.15);
}

.card-title{
    font-size: 24px;
    font-weight: 500;
}


.cv{
    padding: 8px;
    background-image: url("../img/ocean-large.jpg");
    background-size: cover;
    background-origin: center;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    border: 2px solid #ffffff;
}

.contact, .about, .projects{
    margin-left:1rem;
    margin-right:1rem;
}

.cv{
    margin: 1rem 0;
}

.cv p{
    display:  inline-block;
}

.cv p a {
    text-decoration: none;
    color: #ffffff;
}

.cv p:hover,
.cv p:focus{
    animation: rotate 2s 0.2s infinite;
}

.contact-info{
    display: flex;
    justify-content: space-around;
}

.contact-row img{
    width: 16px;
    height: 16px;
}

.contact-row a{
    text-decoration: none;
    color: var(--soft-baige);
}

.contact-row{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

@keyframes ocean-wave {
    0% {
        opacity: 0;
        font-size: 1rem;
    }

    100% {
        opacity: 1;
        font-size: 2.1rem;
    }
}
@keyframes rotate {
    
    0% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(15deg);
    }

    45% {
        transform: rotate(0);
    }

    60% {
        transform: rotate(-15deg);
    }

    85% {
        transform: rotate(0);
    }

}