*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
}

nav {
    margin-left: auto;
    margin-right: 1em;
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
    list-style: none;
    gap: 1em;
    align-items: center;
}

.home{
    background-image: url("../img/ocean-large.jpg");
    background-repeat: no-repeat;
    background-origin:center;
}
